.container{
    padding-top: 50px;
}

.product-grid{
    padding-bottom: 20px;
    padding-top: 20px;
    transition: 0.7s ease;
    margin-top: 50px;
}


.product-grid:hover{
    box-shadow: 0px 4px 8px 0 rgba( 0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title{
    padding-top: 20px;
}
.price{
    padding-bottom: 20px;
}

.product-grid .add{
    display: none;
    margin: auto;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
}

.product-grid:hover .add{
    display: block;
}

#amount {
    width:40px;
}
